@model INF244GI.ARTICULO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ARTICULO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPCION_ARTICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPCION_ARTICULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXISTENCIA_ARTICULO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXISTENCIA_ARTICULO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COSTOUNITARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COSTOUNITARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOINVENTARIO.DESCRIPCION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOINVENTARIO.DESCRIPCION)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_ARTICULO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
